/* 
  Global Elements
*/
button {
  background-color: darkgray;
  border: 0;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 5px;
  transition-duration: 0.4s;
  font-family: 'VT323', monospace;
}

button:hover {
  background-color: white;
  color: black;
}

/* 
  Classes
*/
.App {
  height: 100%;
}
.navbar {
  background-color: lightgray;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.content-container {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.game-container {
  max-width: 1000px;
  min-width: 750px;
}

.login-button {

}

.navbar-button a {
  text-decoration: none;
  color: black;
}

.subnav {
  background-color: smoke;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.leaderboard {
  margin-top: 2rem;
  background-color: whitesmoke;
}

.leaderboard-table {
  border: 1px solid black;
  font-size: 2rem;
}

.leaderboard-table-row {
  padding: 1rem;
  margin: 1rem;
}

.leaderboard-table-rider {
  height: 40px;
  width: 40px;
}

.login-container {
  text-align: center;
}

.game-loading {
  text-align: center;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}


/* LOADING SPINNER */
@keyframes frame-animation {
  100% {
    transform: translateX(-100%);
 }
}
.Animation {
  margin: 0 auto;
  max-width: 100px;
  overflow: hidden;
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.Animation-frames {
  animation: frame-animation 280ms infinite;
  animation-timing-function: steps(4);
  display: flex;
  width: 400%;
}
.Animation-frame {
  display: block;
  width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}