/* 
  Global Elements
*/
li {
  list-style: none;
}

button {
  background-color: darkgray;
  border: 0;
  font-weight: bold;
  font-size: 2.5rem;
  padding: 5px;
  transition-duration: 0.4s;
  font-family: 'VT323', monospace;
}

button:hover {
  background-color: white;
  color: black;
}

/* 
  Classes
*/
.App {
  height: 100%;
}
.navbar {
  background-color: lightgray;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-container {
  display: flex;
  height: 100%;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.game-container {
  max-width: 1000px;
  min-width: 750px;
}

.login-button {

}

.navbar-button a {
  text-decoration: none;
  color: black;
}

.navbar-sub-button a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}

.subnav {
  background-color: smoke;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
}

.footer {
  text-align: center;
  background-color: darkgray;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.leaderboard {
  margin-top: 2rem;
  background-color: whitesmoke;
}

.leaderboard-table {
  border: 1px solid black;
  font-size: 2rem;
}

.leaderboard-table-row {
  padding: 1rem;
  margin: 1rem;
}

.leaderboard-table-rider {
  height: 40px;
  width: 40px;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.bounce-1 {
  animation-name: bounce-1;
  animation-timing-function: ease;
}

@keyframes bounce-1 {
  0%   { transform: scale(1,1)    translateY(0); }
  10%  { transform: scale(1.05,.99) translateY(0); }
  30%  { transform: scale(.99,1.05) translateY(-3px); }
  50%  { transform: scale(1,1)    translateY(0); }
  57%  { transform: scale(1,1)    translateY(-1px); }
  64%  { transform: scale(1,1)    translateY(0); }
  100% { transform: scale(1,1)    translateY(0); }
}
.login-container {
  text-align: center;
}

.game-loading {
  text-align: center;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #FFF}


/* LOADING SPINNER */
@keyframes frame-animation {
  100% {
    transform: translateX(-100%);
 }
}
.Animation {
  margin: 0 auto;
  max-width: 100px;
  overflow: hidden;
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}
.Animation-frames {
  animation: frame-animation 280ms infinite;
  animation-timing-function: steps(4);
  display: flex;
  width: 400%;
}
.Animation-frame {
  display: block;
  width: 25%;
  max-width: 25%;
  flex-basis: 25%;
}


/* Mobile Menu */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
      position: fixed;
      z-index: 9;
      left: -110%;
      top: 2.9rem;
      flex-direction: column;
      background-color: darkgray;
      width: 100%;
      text-align: center;
      transition: 0.3s;
      box-shadow:
          0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
      left: 0;
  }

  .nav-item {
      margin: 0.5rem 0;
  }

  .hamburger {
      display: block;
      cursor: pointer;
      margin: 0.5rem;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
  }


}